<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <section class="vh-100 bg_login">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5">

                    <div class="text-center text-heading-login">
                        <h1 class="font_logo">Paws<span class="font_logohalf">Pal</span></h1>
                        <h3 class="text_loginheader">Reset your password</h3>
                    </div>
                    
                    
                    <div class="form-outline mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" class="form-control form-control-md" formControlName="email" name="email" [readonly]="true"/>
                        <div *ngIf="resetPasswordForm.get('email')?.errors">
                            <div *ngIf="resetPasswordForm.get('email')?.hasError('required')" class="error-message">Email is required.</div>
                            <div *ngIf="resetPasswordForm.get('email')?.hasError('email')" class="error-message">Please enter a valid email address.</div>
                        </div>
                    </div>
        
                    <div class="form-outline mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" class="form-control form-control-md" formControlName="password"  name="password"/>
                        <div *ngIf="resetPasswordForm.get('password')?.errors">
                            <div *ngIf="resetPasswordForm.get('password')?.hasError('required')" class="error-message">Password is required.</div>
                            <div *ngIf="resetPasswordForm.get('password')?.hasError('minlength') && !resetPasswordForm.get('password')?.hasError('required')" class="error-message">
                                Password must be at least 8 characters long.
                            </div>
                            <div *ngIf="resetPasswordForm.get('password')?.hasError('missingUpperCase')" class="error-message">
                                At least one uppercase letter
                            </div>
                            <div *ngIf="resetPasswordForm.get('password')?.hasError('missingLowerCase')" class="error-message">
                                At least one lowercase letter
                            </div>
                            <div *ngIf="resetPasswordForm.get('password')?.hasError('missingNumeric')" class="error-message">
                                At least one numeric character
                            </div>
                            <div *ngIf="resetPasswordForm.get('password')?.hasError('missingSpecialCharacter')" class="error-message">
                                At least one special character
                            </div>
                        </div>
                        <div *ngIf="isPasswordOld === true" class="error-message">
                            New password cannot be the same as the old password.
                        </div>
                    </div>

                    <div class="form-outline mb-2">
                        <label class="form-label" for="repeatPassword">Repeat Password</label>
                        <input type="password" id="repeatPassword" class="form-control form-control-md" formControlName="repeatPassword" />
                        <div *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('repeatPassword')?.touched" class="error-message">
                            Passwords do not match.
                        </div>
                    </div>
                    
                    <div class="text-center mb-2">
                        <button class="btn btn_login btn-lg btn-block" type="submit">Reset Password</button>
                    </div>

                </div>  
            </div>
            </div>
        </div>
        </div>
    </section>
</form>