<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <section class="vh-100 bg_login">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5">

                    <div class="text-center text-heading-login">
                        <h1 class="font_logo">Paws<span class="font_logohalf">Pal</span></h1>
                        <h4 class="mb-3 text_loginheader">Forgot your password?</h4>
                        <p>Please enter your email address and we will send you a link to reset your password in your email inbox.</p>
                    </div>
                                       
                    <div class="form-outline mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" class="form-control form-control-md" formControlName="email" name="email" placeholder="Enter your email"/>
                        <div *ngIf="forgotPasswordForm.get('email')?.errors">
                            <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')" class="error-message">Email is required.</div>
                            <div *ngIf="forgotPasswordForm.get('email')?.hasError('email')" class="error-message">Please enter a valid email address.</div>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <button class="btn btn_login btn-lg btn-block" type="submit" [disabled]="!forgotPasswordForm.get('email')?.valid">Sent Reset Link</button>
                    </div>

                </div>  
            </div>
            </div>
        </div>
        </div>
    </section>
</form>