<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css" />
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

<section class="bg-white">
  <div class="py-4 px-2 mx-auto max-w-screen-xl sm:py-4 lg:px-6">
    <div class="flex flex-col sm:flex-row md:flex-col lg:flex-row gap-4">
      <!-- Static Boxes -->
      <div class="flex flex-col gap-4 md:flex-col lg:flex-col w-full md:w-auto">
        <!-- Static Box 1 -->
        <div class="p-6 bg-white shadow rounded-2xl dark:bg-gray-900">
          <dl class="space-y-2">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">
              Today coding time
            </dt>
            <dd class="text-5xl font-light md:text-xl dark:text-black">
              {{ todayCodeTime }} Hours
            </dd>
            <dd class="flex items-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
              <span>{{ todayTimeCompare }}% increase</span>
              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17.25 15.25V6.75H8.75"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17 7L6.75 17.25"></path>
              </svg>
            </dd>
          </dl>
        </div>

        <!-- Static Box 2 -->
        <div class="p-6 bg-white shadow rounded-2xl dark:bg-gray-900">
          <dl class="space-y-2">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">
              Monthly coding time
            </dt>
            <dd class="text-5xl font-light md:text-xl dark:text-black">
              {{ monthlyCodeTime }} Hours
            </dd>
            <dd class="flex items-center space-x-1 text-sm font-medium text-red-500 dark:text-red-400">
              <span>{{ monthlyTimeCompare }}% increase</span>
              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17.25 8.75V17.25H8.75"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17 17L6.75 6.75"></path>
              </svg>
            </dd>
          </dl>
        </div>

        <!-- Static Box 3 -->
        <div class="p-6 bg-white shadow rounded-2xl dark:bg-gray-900">
          <dl class="space-y-2">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">
              Coins
            </dt>
            <dd class="text-5xl font-light md:text-xl dark:text-black">
              {{ todayCoins }} coins
            </dd>
            <dd class="flex items-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
              <span>Total coins {{ totalCoins }}</span>
              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17.25 15.25V6.75H8.75"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17 7L6.75 17.25"></path>
              </svg>
            </dd>
          </dl>
        </div>
      </div>

      <!-- Donut Graph -->
      <div class="flex flex-col flex-grow md:flex-none md:w-2/5 lg:w-3/5 bg-gray-50 rounded-lg h-auto md:h-full shadow">
        <a href="" class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-4 flex-grow">
          <div class="flex justify-between mb-3">
            <div class="flex justify-center items-center">
              <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-black pe-1">
                Time in used
              </h5>
              <svg data-popover-target="chart-info" data-popover-placement="bottom"
                class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1"
                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z" />
              </svg>
              <div data-popover id="chart-info" role="tooltip"
                class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                <div class="p-3 space-y-2">
                  <h3 class="font-semibold text-gray-900 dark:text-white">
                    Activity growth - Incremental
                  </h3>
                  <p>
                    Report helps navigate cumulative growth of community
                    activities. Ideally, the chart should have a growing trend,
                    as stagnating chart signifies a significant decrease of
                    community activity.
                  </p>
                  <h3 class="font-semibold text-gray-900 dark:text-white">
                    Calculation
                  </h3>
                  <p>
                    For each date bucket, the all-time volume of activities is
                    calculated. This means that activities in period n contain
                    all activities up to period n, plus the activities generated
                    by your community in period.
                  </p>
                  <a href="#"
                    class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Read
                    more
                    <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                      fill="none" viewBox="0 0 6 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 9 4-4-4-4" />
                    </svg></a>
                </div>
                <div data-popper-arrow></div>
              </div>
            </div>
            <div>
              <button type="button" data-tooltip-target="data-tooltip" data-tooltip-placement="bottom"
                class="hidden sm:inline-flex items-center justify-center text-gray-500 w-8 h-8 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm">
                <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 16 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3" />
                </svg><span class="sr-only">Download data</span>
              </button>
              <div id="data-tooltip" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Download CSV
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </div>
          </div>
          <!-- Donut Chart -->
          <div class="py-6 w-full" id="donut-chart"></div>
          <div class="flex justify-center items-center pt-5">
            <!-- Button -->
            <button id="dropdownDefaultButton" data-dropdown-toggle="lastDaysdropdown" data-dropdown-placement="bottom"
              class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
              type="button">
              Last 7 days
              <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 4 4 4-4" />
              </svg>
            </button>
            <div id="lastDaysdropdown"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Yesterday</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Today</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7
                    days</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30
                    days</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90
                    days</a>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>

      <!-- Pet Box -->
      <div class="flex flex-col gap-4 md:flex-col lg:flex-col w-full md:w-auto">
        <div class="bg-yellow-100 rounded-2xl shadow flex flex-col justify-center items-center min-h-0">
          <h5 class="mb-1 text-xl font-bold text-white">{{petName}}</h5>
          <div class="pet-image-container">
            <img id="pet" class="w-full h-full object-contain" src="../assets/pets/ducky_3_idle.gif" alt="Pet image" />
          </div>
          <div class="px-4 py-3 w-72 mt-8">
            <dd class="text-2xl  md:text-xl font-bold dark:text-white">
              Food
            </dd>
            <progress class="progress w-56" value="{{foodStatus}}" max="100"></progress>
            <dd class="text-2xl md:text-xl font-bold dark:text-white">
              Happyness
            </dd>
            <progress class="progress w-56" value="{{happynessStatus}}" max="100"></progress>
          </div>
        </div>
      </div>
      

      <!--GenerateToken Button-->
      <div>
        <a class="mt-8 inline-flex items-center justify-center rounded-xl bg-green-100 py-3 px-6 font-dm text-base font-bold text-white shadow-xl shadow-green-400/75 transition-transform duration-200 ease-in-out hover:scale-[1.02]"
          (click)="logout()">
          Logout
        </a>
      </div>
    </div>

    <!-- Inventory -->
    <ul class="menu bg-error rounded-box w-56 gap-4 mt-8">
      <li>
        <a>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
          <button class="font-bold text-white">Store</button>
        </a>
      </li>
      <li>
        <a>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <button (click)="toggleInventory()" class="font-bold text-white">Inventory</button>
        </a>
      </li>
      <li>
        <a>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
          </svg>
          <button (click)="toggleActivity()" class="font-bold text-white">Activities</button>
        </a>
      </li>
    </ul>

    <div *ngIf="showInventory" class="p-6 bg-white shadow rounded-2xl dark:bg-gray-900 mt-8">
      <div class="inventory-container">
        <div class="inventory-header">
          <h2>Inventory</h2>
          <div class="genres">
            <button *ngFor="let genre of genres" (click)="selectGenre(genre)" [class.active]="selectedGenre === genre">
              {{ genre }}
            </button>
          </div>
        </div>
        <div class="inventory-grid">
          <div *ngFor="let item of filteredItems" class="inventory-slot">
            <img [src]="item.image" [alt]="item.name">
            <span class="item-count">{{ item.count }}</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showActivity" class='bg-white shadow rounded-2xl'>
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Job</th>
              <th>Favorite Color</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr class="hover">
              <th>1</th>
              <td>Cy Ganderton</td>
              <td>Quality Control Specialist</td>
              <td>Blue</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <th>2</th>
              <td>Hart Hagerty</td>
              <td>Desktop Support Technician</td>
              <td>Purple</td>
            </tr>
            <!-- row 3 -->
            <tr>
              <th>3</th>
              <td>Brice Swyre</td>
              <td>Tax Accountant</td>
              <td>Red</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
