<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Layout</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css" />
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body class="bg-gray-100">
  <section class="bg-white p-4">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 max-w-screen-xl mx-auto">
      <!-- Top Row -->
      <div class="col-span-3 flex gap-4 justify-center">
        <!-- Static Box 1 -->
        <div class="flex-1 p-6 bg-white shadow rounded-2xl dark:bg-gray-900">
          <dl class="space-y-2 text-center">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Today coding time</dt>
            <dd class="text-5xl font-light md:text-xl dark:text-black">{{ todayCodeTime }} Hours</dd>
            <dd class="flex items-center justify-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
              <span>{{ todayTimeCompare }}% increase</span>
              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17.25 15.25V6.75H8.75"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17 7L6.75 17.25"></path>
              </svg>
            </dd>
          </dl>
        </div>
        <!-- Static Box 2 -->
        <div class="flex-1 p-6 bg-white shadow rounded-2xl dark:bg-gray-900">
          <dl class="space-y-2 text-center">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Monthly coding time</dt>
            <dd class="text-5xl font-light md:text-xl dark:text-black">{{ monthlyCodeTime }} Hours</dd>
            <dd class="flex items-center justify-center space-x-1 text-sm font-medium text-red-500 dark:text-red-400">
              <span>{{ monthlyTimeCompare }}% increase</span>
              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17.25 8.75V17.25H8.75"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17 17L6.75 6.75"></path>
              </svg>
            </dd>
          </dl>
        </div>
        <!-- Static Box 3 -->
        <div class="flex-1 p-6 bg-white shadow rounded-2xl dark:bg-gray-900">
          <dl class="space-y-2 text-center">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Coins</dt>
            <dd class="text-5xl font-light md:text-xl dark:text-black">{{ userCoins }} coins</dd>
            <dd class="flex items-center justify-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
              <span>Total coins {{ userCoins }}</span>
              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17.25 15.25V6.75H8.75"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M17 7L6.75 17.25"></path>
              </svg>
            </dd>
          </dl>
        </div>
      </div>

 <!-- Donut Graph -->
<div class="col-span-3 lg:col-span-2 bg-white shadow rounded-2xl p-6" style="position: relative;">
  <div class="flex flex-col">
    <h5 class="text-xl font-bold text-gray-900 dark:text-black mb-4">Time in used</h5>
    <div class="py-6 w-full" id="donut-chart"></div>
    <!-- ปุ่ม Generate Report -->
    <div class="flex justify-center mt-4">
      <button class="btn btn-primary flex items-center space-x-2" (click)="generateReport()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7" />
        </svg>
        <span>Generate Report</span>
      </button>
    </div>
  </div>
</div>


      <!-- Pet Box -->
      <div [ngClass]="{'h-auto': showInfoModal, 'h-48': !showInfoModal}" class="flex flex-col row-span-2 items-center bg-yellow-100 rounded-2xl shadow p-6 lg:row-span-2 relative transition-all duration-300">
        <button class="absolute top-0 left-0 m-4 bg-blue-500 text-white p-2 rounded" (click)="toggleInfoModal()">
          Info
        </button>
        <h5 class="mb-1 text-xl font-bold text-white">{{petName}}</h5>
        <img id="pet" class="w-32 h-32 object-contain" src="{{petPath}}" alt="Pet image" />
        <div class="mt-8 w-full">
          <dd class="text-2xl font-bold dark:text-white">Food</dd>
          <progress class="progress w-full" value="{{foodStatus}}" max="100"></progress>
          <dd class="text-2xl font-bold dark:text-white mt-4">Happiness</dd>
          <progress class="progress w-full" value="{{happinessStatus}}" max="100"></progress>
        </div>

        <!-- Info Modal -->
        <div *ngIf="showInfoModal" class="w-full mt-4">
          <div class="bg-white rounded-lg p-4 shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Pet Info</h2>
            <p><strong>Name:</strong> {{petName}}</p>
            <p><strong>Food Status:</strong> {{foodStatus}}</p>
            <p><strong>Happiness Status:</strong> {{happinessStatus}}</p>
            <p><strong>Experience (Exp):</strong> {{exp}}</p>
          </div>
        </div>
      </div>

      <!-- Recent Files and Other Widgets -->
      <div class="col-span-3 grid grid-cols-1 lg:grid-cols-3 gap-4 mt-4">
        <div class="flex flex-col bg-white shadow rounded-2xl p-4">
          <h5 class="text-xl font-bold text-gray-900 dark:text-black mb-4">Unlock New Items</h5>
          <div class="flex items-center">
            <div class="flex-1">
              <div class="text-3xl font-bold">{{progress}}</div>
              <div class="text-sm text-gray-500">{{progress_item_path}}</div>
            </div>
            <img class="w-16 h-16 object-contain" src={{progress_item_path}} alt="food image" />
          </div>
        </div>
        <div class="flex flex-col bg-white shadow rounded-2xl p-4">
          <h5 class="text-xl font-bold text-gray-900 dark:text-black mb-4">Recent Files</h5>
          <div class="space-y-2">
            <div class="flex justify-between">
              <span>MEME.JS</span>
              <span>32 MINUTES AGO</span>
            </div>
            <div class="flex justify-between">
              <span>DOGO.HTML</span>
              <span>1 DAY AGO</span>
            </div>
            <div class="flex justify-between">
              <span>DOGO.C</span>
              <span>1 WEEK AGO</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col bg-white shadow rounded-2xl p-4">
          <button (click)="randomizePet()">Randomize Pet</button>
          <div class="flex items-center justify-center">
            <img class="w-16 h-16 object-contain" src="./assets/Treasure_Chest_(item).png" alt="Coupon image" />
          </div>
        </div>
      </div>

      <!-- Menu -->
      <ul class="col-span-3 lg:col-span-1 flex-col flex-grow md:flex-none shadow mt-4 menu bg-error md:h-full rounded-box w-56 gap-4 mt-8 mx-auto">
        <li>
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            <button (click)="toggleStore()" class="store-button font-bold text-white">Store</button>
          </a>
        </li>
        <li>
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <button (click)="toggleInventory()" class="font-bold text-white">Inventory</button>
          </a>
        </li>
        <li>
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
            <button (click)="toggleActivity()" class="font-bold text-white">Activities</button>
          </a>
        </li>
        <li>
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
            </svg>
            <button (click)="toggleDecoration()" class="font-bold text-white">Decoration</button>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Store -->
  <div *ngIf="showStore" class='bg-white shadow rounded-2xl mt-8'>
    <div class="overflow-x-auto">
      <div class="shop-header flex justify-between items-center p-4">
        <h2 class="font-bold text-lg">Store</h2>
        <div class="coins-display font-bold">{{ userCoins }} COINS</div>
      </div>
      <div class="store-items-container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
        <div *ngFor="let item of storeItems" class="store-item border p-4 rounded-lg shadow-md">
          <img [src]="item.path" [alt]="item.item_name" class="w-full h-32 object-cover mb-2">
          <h3 class="font-semibold text-md mb-1">{{ item.item_name }}</h3>
          <p class="text-sm mb-2">{{ item.price }} COIN</p>
          <button (click)="buyItem(item)" class="bg-blue-500 text-white py-1 px-2 rounded">Buy</button>
        </div>
      </div>
      <div class="pet-display flex justify-center p-4">
        <img [src]="'../assets/pets/ducky_3_idle.gif'" alt="Pet image" class="w-24 h-24 object-contain">
      </div>
    </div>
  </div>

  <!-- Inventory -->
  <div *ngIf="showInventory" class='bg-white shadow rounded-2xl mt-8'>
    <div class="overflow-x-auto">
      <div class="inventory-header">
        <h2 class="font-bold">Inventory</h2>
      </div>
      <div class="inventory-items-container">
        <div *ngFor="let item of userStorageItems" class="inventory-item">
          <img [src]="item.path" [alt]="item.item_name">
          <h3>{{ item.item_name }}</h3>
          <p>Quantity: {{ item.quantity }}</p>
          <p>{{ item.description }}</p>
          <button (click)="selectFoodItem(item)">Feed Pet</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Activity -->
  <div *ngIf="showActivity" class='bg-white shadow rounded-2xl mt-8'>
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>Word Count</th>
            <th>Coins</th>
            <th>Languages</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activityData">
            <td>{{ activity.wordcount }}</td>
            <td>{{ activity.coins }}</td>
            <td>{{ activity.Languages }}</td>
            <td>{{ activity.Timestamp }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- ปุ่ม Logout -->
  <div class="mt-8 flex justify-end">
    <button class="inline-flex items-center justify-center rounded-xl bg-red-500 py-3 px-6 font-bold text-green-100 shadow-xl transition-transform duration-200 ease-in-out hover:scale-[1.02]" (click)="logout()">
      Logout
    </button>
  </div>

  <!-- Decoration -->
  <div *ngIf="showDecoration" class="bg-white shadow rounded-2xl mt-8 p-4">
    <div class="decoration-menu grid grid-cols-3 gap-4">
      <!-- Menu buttons -->
      <div class="col-span-1 flex flex-col space-y-2">
        <button class="btn btn-warning w-full" (click)="selectedMenu = 'pet'">Change Pet</button>
        <button class="btn btn-warning w-full" (click)="selectedMenu = 'background'">Change Background</button>
        <button class="btn btn-success w-full" (click)="saveDecoration()">Save Decoration</button>
      </div>

      <!-- List and Preview -->
      <div class="col-span-2 grid grid-cols-3 gap-4">
        <!-- List of pets or backgrounds -->
        <div class="col-span-1 bg-yellow-100 p-2 rounded-md">
          <h3 class="font-bold text-lg">{{ selectedMenu === 'pet' ? 'Pet List' : 'Background List' }}</h3>
          <div class="list-container max-h-64 overflow-y-auto">
            <div *ngIf="selectedMenu === 'pet'">
              <div *ngFor="let pet of pets" (click)="selectedPet = pet" [class.selected]="selectedPet === pet" class="p-2 mb-1 bg-white rounded-md cursor-pointer">
                {{ pet.pet_name }}
              </div>
            </div>
            <div *ngIf="selectedMenu === 'background'">
              <div *ngFor="let background of backgrounds" (click)="selectedBackground = background" [class.selected]="selectedBackground === background" class="p-2 mb-1 bg-white rounded-md cursor-pointer">
                {{ background.item_name }}
              </div>
            </div>
          </div>
        </div>

        <!-- Preview -->
        <div class="col-span-2 bg-gray-100 p-4 rounded-md">
          <h3 class="font-bold text-lg mb-2">Preview</h3>
          <div class="preview-container relative">
            <div class="background-container" *ngIf="selectedBackground">
              <img [src]="selectedBackground?.path" class="background-image">
            </div>
            <img [src]="selectedPet?.path" class="pet-image" *ngIf="selectedPet">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
