<!DOCTYPE html>
<html lang="en" [attr.lang]="selectedLanguage">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard Layout</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css" />
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

</head>

<body [class.lang-th]="selectedLanguage === 'th'" [class.lang-en]="selectedLanguage === 'en'"
  class="bg-cover bg-no-repeat bg-bottom" style="
      background-image: url('./assets/backgrounds/PawPalsBG.png');
      background-size: 100%;
      padding-top: 10px;
    ">
  <nav class="border-gray-200 bg-gradient-to-b from-blue-200 to-white dark:bg-gray-800 dark:border-gray-700" id="nav">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-white">PawPals</span>
      </a>
      <button data-collapse-toggle="navbar-solid-bg" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-solid-bg" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
        <ul
          class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
          <li>
            <button (click)="switchLanguage('en')" class="text-black font-bold btn"
              [disabled]="selectedLanguage === 'en'">
              English
            </button>
          </li>
          <li>
            <button (click)="switchLanguage('th')" class="text-black font-bold btn"
              [disabled]="selectedLanguage === 'th'">
              Thai
            </button>
          </li>
          <li>
            <button (click)="logout()" class="bg-red-500 text-black px-4 py-2 rounded-md btn">
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Content Section -->
  <section class="p-9 content-section">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 max-w-screen-xl mx-auto">
      

      <!-- Top Row with Stats -->
      <div class="col-span-3 flex gap-4 justify-center">
        <!-- Static Box 1: Today Coding Time -->
        <div class="static-box flex-1 p-6 bg-white shadow rounded-2xl">
          <dl class="space-y-2 text-center">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">
              {{ "TODAY CODING TIME" | translate }}
            </dt>
            <dd class="text-5xl font-light md:text-xl dark:text-black">
              {{ todayCodeTime }} {{ "HOURS" | translate }}
            </dd>

            <!-- เปลี่ยนสีและข้อความเมื่อค่าเป็นบวกหรือลบ -->
            <dd [ngClass]="
                  todayTimeCompare >= 0
                    ? 'text-green-100 dark:text-green-100'
                    : 'text-red-100 dark:text-red-100'
                " class="flex items-center justify-center space-x-1 text-sm font-medium">
              <span>{{ todayTimeCompare }}%
                {{
                todayTimeCompare >= 0
                ? ("INCREASE" | translate)
                : ("DECREASE" | translate)
                }}
              </span>
            </dd>
          </dl>
        </div>

        <!-- Static Box 2: Monthly Coding Time -->
        <div class="static-box flex-1 p-6 bg-white shadow rounded-2xl dark:bg-gray-900">
          <dl class="space-y-2 text-center">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">
              {{ "MONTHLY CODING TIME" | translate }}
            </dt>
            <dd class="text-5xl font-light md:text-xl dark:text-black">
              {{ monthlyCodeTime }} {{ "HOURS" | translate }}
            </dd>

            <!-- เปลี่ยนสีและข้อความเมื่อค่าเป็นบวกหรือลบ -->
            <dd [ngClass]="
                  monthlyTimeCompare >= 0
                    ? 'text-green-100 dark:text-green-100'
                    : 'text-red-100 dark:text-red-100'
                " class="flex items-center justify-center space-x-1 text-sm font-medium">
              <span>{{ monthlyTimeCompare }}%
                {{
                monthlyTimeCompare >= 0
                ? ("INCREASE" | translate)
                : ("DECREASE" | translate)
                }}
              </span>
            </dd>
          </dl>
        </div>

        <!-- Static Box 3 -->
        <div class="static-box flex-1 p-6 bg-white shadow rounded-2xl dark:bg-gray-900">
          <dl class="space-y-2 text-center">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">
              {{ "COINS" | translate }}
            </dt>
            <dd class="text-5xl font-light md:text-xl dark:text-black">
              {{ userCoins }} {{ "COINS" | translate }}
            </dd>
            <dd
              class="flex items-center justify-center space-x-1 text-sm font-medium text-green-500 dark:text-green-400">
              <span>{{ "Coins spend" | translate }} {{ totalCoins }}</span>
            </dd>
          </dl>
        </div>
      </div>

      <!-- Donut Graph -->
      <div class="col-span-3 lg:col-span-2 bg-white shadow rounded-2xl p-6" style="position: relative">
        <div class="flex flex-col">
          <h5 class="text-xl font-bold text-gray-900 dark:text-black mb-4">
            {{ "TIME USED" | translate }}
          </h5>
          <div class="py-6 w-full" id="donut-chart"></div>

          <!-- Generate Report Button -->
          <div class="flex justify-center mt-4">
            <!-- Button to trigger PDF download -->
            <div class="flex justify-center mt-4">
              <button id="projectOrFileSelection" class="btn btn-primary" (click)="generateReport()">
                Download PDF
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Pet Box -->
      <div [ngClass]="{ 'h-auto': showInfoModal, 'h-120': !showInfoModal }"
      class="pet-box flex flex-col items-center bg-yellow-100 rounded-2xl shadow p-6 relative transition-all duration-300">
      <!-- Info Button -->
        <button class="absolute top-4 left-4 text-white font-semibold" (click)="toggleInfoModal()">
          info
        </button>
        <!-- Pet Name -->
        <h5 class="mt-4 text-2xl font-bold">{{ petName }}</h5>
        <!-- Pet Image and Navigation Arrows -->
        <div class="relative my-4 flex items-center justify-center">
          <button class="absolute left-0 text-3xl text-white" (click)="prevPet()">
            &#8249;
          </button>
          <img id="pet" class="w-32 h-32 object-contain" [src]="petPath" alt="Pet image" />
          <button class="absolute right-0 text-3xl text-white" (click)="nextPet()">
            &#8250;
          </button>
        </div>

        <!-- Food and Happiness Bars -->
        <div class="w-full mt-8 flex flex-col items-center">
          <div class="flex items-center space-x-2 w-full px-6">
            <span class="text-xl">🍽️</span>
            <progress class="progress w-full" [value]="foodStatus" max="100"></progress>
          </div>
          <div class="flex items-center space-x-2 w-full px-6 mt-4">
            <span class="text-xl">💬</span>
            <progress class="progress w-full" [value]="happinessStatus" max="100"></progress>
          </div>
        </div>

        <!-- Info Modal -->
        <div *ngIf="showInfoModal" class="w-full mt-4">
          <div class="bg-white rounded-lg p-4 shadow-lg text-black">
            <h2 class="text-2xl font-bold mb-4">Pet Info</h2>
            <p><strong>Name:</strong> {{ petName }}</p>
            <p><strong>Food Status:</strong> {{ foodStatus }}</p>
            <p><strong>Happiness Status:</strong> {{ happinessStatus }}</p>
            <p><strong>Experience (Exp):</strong> {{ exp }}</p>
          </div>
        </div>
      </div>

      <!-- Recent Files and Other Widgets -->
      <div class="col-span-3 grid grid-cols-1 lg:grid-cols-3 gap-4 mt-4">
        <div class="flex flex-col bg-white shadow rounded-2xl p-4">
          <h5 class="text-xl font-bold text-gray-900 dark:text-black mb-4">
            {{ "UNLOCK_NEW_ITEMS" | translate }}
          </h5>
          <div class="flex items-center">
            <div class="flex-1">
              <div class="text-3xl font-bold">{{ progress }}</div>
              <div class="text-sm text-gray-500">
                {{ progress_item_path }}
              </div>
            </div>
            <img class="w-16 h-16 object-contain" [src]="progress_item_path" alt="food image" />
          </div>
        </div>

        <div class="flex flex-col bg-white shadow rounded-2xl p-4">
          <h5 class="text-xl font-bold text-gray-900 dark:text-black mb-4">
            {{ "RECENT_FILES" | translate }}
          </h5>
          <div class="space-y-2" id="recentFilesContainer"></div>
        </div>



        <div class="flex flex-col bg-green-100 shadow rounded-2xl p-4">
          <div class="mt-4">
            <input class="bg-metal"
              type="text"
              [(ngModel)]="snInput" 
              placeholder="Enter SN"
              class="input input-bordered w-full"
            />
            <button (click)="checkSN()" class="btn bg-bermuda btn-primary mt-2">Search Report</button>
          </div>

          </div>
        </div>
        
  <!-- Menu -->
  <ul class="flex flex-col shadow menu bg-error h-full rounded-box p-4 space-y-2 w-full">
    <li>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        <button (click)="toggleStore()" class="store-button font-bold text-white">
          {{ "STORE" | translate }}
        </button>
      </a>
    </li>
    <li>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <button (click)="toggleInventory()" class="font-bold text-white">
          {{ "INVENTORY" | translate }}
        </button>
      </a>
    </li>
    <li>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
        </svg>
        <button (click)="toggleActivity()" class="font-bold text-white">
          {{ "ACTIVITIES" | translate }}
        </button>
      </a>
    </li>
    <li>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="white">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
        </svg>
        <button (click)="toggleDecoration()" class="font-bold text-white">
          {{ "DECORATION" | translate }}
        </button>
      </a>
    </li>
  </ul>

  <!-- Randomize Pet Option -->
  <div class="lg:col-start-2 bg-white shadow rounded-2xl p-6 mt-8 lg:mt-0 lg:ml-4">
    <h5 class="text-xl font-bold text-gray-900 dark:text-black mb-4 text-center">Randomize Pet</h5>
    <p class="text-sm text-gray-700 text-center mb-4">Use 10,000 coins to randomize a pet.</p>
    <button
      (click)="randomizePet()"
      [disabled]="userCoins < 10000" 
      class="bg-blue-500 text-white py-2 px-4 rounded-full w-full font-semibold"
    >
      Randomize Pet
    </button>
  </div>
      
    </div>
  </section>


</body>
</html>